body {
  margin: 0;
  font-family: 'Oswald', sans-serif;
}

a {
  color: white;
  text-decoration: none;
  padding: 12px 8px;
}
.navbar-head {
  font-size: 20px;
}
.navbar-head i {
  font-size: 23px;
}
.navbar-menu a:hover {
  background-color: orange;
  opacity: 0.5;
  border-radius: 6px;
}
i {
  font-size: 20px;
}
nav {
  background-color: #283593;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
li {
  list-style: none;
}
ul {
  margin-left: 0;
  display: flex;
}
@media screen and (max-width: 784px) {
  nav {
    flex-direction: column;
  }
  .navbar-head {
    align-self: flex-start;
  }
.navbar-menu {
  display: flex;
  flex-direction: column;
}
ul {
  padding-left: 0;
  width: 100%;
}
.navbar-menu a{
  width: 100%;
  text-align: center;
}
.navbar-icon {
  display: flex;
  justify-content: center;
  margin: 0;
}

}